body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --subheading: Inter;
  --font-radio-canada: "Radio Canada";
  --font-actor: Actor;
  --font-roboto-flex: "Roboto Flex";
  --font-inria-serif: "Inria Serif";
  --font-inder: Inder;
  --font-inknut-antiqua: "Inknut Antiqua";
  --font-inria-sans: "Inria Sans";
  --font-rajdhani: Rajdhani;
  --font-gravitas-one: "Gravitas One";
  --font-fascinate: Fascinate;
  --font-roboto-mono: "Roboto Mono";
  --font-jomhuria: Jomhuria;

  /* font sizes */
  --body-text-size: 20px;
  --subheading-size: 24px;
  --font-size-31xl: 50px;
  --font-size-13xl: 32px;
  --font-size-21xl: 40px;
  --small-text-size: 16px;

  /* Colors */
  --color-whitesmoke-100: #f7f7f7;
  --color-gray-100: #828282;
  --color-gray-200: #151414;
  --color-black: #000;
  --color-white: #fff;
  --color-midnightblue: #060f58;
  --color-ivory: #fcfef1;
  --color-darkslategray: #454545;

  /* Spacing */
  --spacing-m: 48px;
  --spacing-xs: 8px;
  --spacing-s: 24px;
  --spacing-sm: 32px;

  /* Gaps */
  --gap-29xl: 48px;
  --gap-5xs: 8px;
  --gap-5xl: 24px;
  --gap-9xs: 4px;
  --gap-lgi: 19px;
  --gap-base: 16px;
  --gap-11xs: 2px;

  /* Paddings */
  --padding-sm: 14px;
  --padding-5xl: 24px;
  --padding-3xs: 10px;
  --padding-13xl: 32px;

  /* Border radiuses */
  --br-5xs: 8px;
  --br-6xl: 25px;
  --br-xs: 12px;
  --br-9xs: 4px;

  /* Effects */
  --button-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}
