body {
    margin: 0;
    line-height: normal;
}

:root {
    /* fonts */
    --font-inter: Inter;
    --font-inknut-antiqua: "Inknut Antiqua";

    /* font sizes */
    --font-size-sm-4: 13.4px;
    --font-size-base-1: 16.1px;

    /* Colors */
    --color-white: #fff;
    --color-midnightblue: #060f58;
    --color-gray-100: #828282;
    --color-gray-200: #151414;
    --color-black: #000;

    /* Gaps */
    --gap-base-1: 16.1px;
    --gap-10xs-7: 2.7px;

    /* Paddings */
    --padding-8xl: 27px;
    --padding-6xs-7: 6.7px;
    --padding-7xs: 6px;
    --padding-5xs-3: 7.3px;

    /* Border radiuses */
    --br-base-8: 16.8px;
}
.mobile-phones-and {
    position: relative;
    line-height: 150%;
    font-weight: 800;
    display: inline-block;
    max-width: 100%;
}

.discover-a-wide {
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-base-1);
    line-height: 150%;
    font-family: var(--font-inter);
    color: var(--color-gray-100);
}

.mobile-phones-and-accessories-parent,
.phonesheader-inner {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100%;
}

.mobile-phones-and-accessories-parent {
    align-items: center;
    gap: 12.7px;
}

.phonesheader-inner {
    align-items: flex-start;
    padding: var(--padding-6xs-7) var(--padding-7xs) 6.8px;
    box-sizing: border-box;
    flex-shrink: 0;
}

.view-more {
    position: relative;
    font-size: var(--font-size-base-1);
    line-height: 150%;
    font-family: var(--font-inter);
    display: inline-block;
    text-shadow: 0.7px 0 0#000, 0 0.7px 0#000, -0.7px 0 0#000, 0-0.7px 0#000;
    min-width: 79px;
}

.phonesheader {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0 15px;
    box-sizing: border-box;
    gap: 20.8px;
    max-width: 100%;
    text-align: left;
    font-size: 22.8px;
    color: var(--color-black);
    font-family: var(--font-inknut-antiqua);
}

.image-icon,
.iphone-13-pro {
    align-self: stretch;
    position: relative;
}

.image-icon {
    flex: 1;
    border-radius: 16.76px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}

.iphone-13-pro {
    line-height: 150%;
}

.features-a-61-inch {
    font-weight: 500;
}

.features-a-61-inch,
.read-more {
    white-space: pre-wrap;
}

.features-a-61-inch-super-reti {
    margin: 0;
}

.blank-line1 {
    white-space: pre-wrap;
}

.blank-line {
    margin: 0;
    color: var(--color-gray-200);
}

.more-apple-product1 {
    white-space: pre-wrap;
}

.more-apple-product {
    margin: 0;
    color: var(--color-midnightblue);
}

.features-a-61-inch-container {
    align-self: stretch;
    height: 80px;
    position: relative;
    line-height: 150%;
    text-align: left;
    display: flex;
    align-items: center;
    color: var(--color-gray-100);
}

.card,
.copy {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.copy {
    align-self: stretch;
    justify-content: center;
    gap: var(--gap-10xs-7);
}

.card {
    height: 276.3px;
    width: 270px;
    box-shadow: 0 2.7px 2.68px rgba(0, 0, 0, 0.25);
    border-radius: 16.76px;
    background-color: var(--color-white);
    justify-content: flex-start;
    padding: var(--padding-6xs-7) var(--padding-7xs) var(--padding-5xs-3);
    box-sizing: border-box;
    gap: var(--gap-base-1);
}

.image-icon1,
.iphone-13-pro1 {
    align-self: stretch;
    position: relative;
}

.image-icon1 {
    flex: 1;
    border-radius: 16.76px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}

.iphone-13-pro1 {
    line-height: 150%;
}

.features-a-61-inch1 {
    font-weight: 500;
    white-space: pre-wrap;
}

.read-more1 {
    white-space: pre-wrap;
}

.features-a-61-inch-super-reti1 {
    margin: 0;
}

.blank-line3 {
    white-space: pre-wrap;
}

.blank-line2 {
    margin: 0;
    color: var(--color-gray-200);
}

.more-apple-product3 {
    white-space: pre-wrap;
}

.more-apple-product2 {
    margin: 0;
    color: var(--color-midnightblue);
}

.features-a-61-inch-container1 {
    align-self: stretch;
    height: 80px;
    position: relative;
    line-height: 150%;
    text-align: left;
    display: flex;
    align-items: center;
    color: var(--color-gray-100);
}

.card1,
.copy1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.copy1 {
    align-self: stretch;
    justify-content: center;
    gap: var(--gap-10xs-7);
}

.card1 {
    height: 276.3px;
    width: 270px;
    box-shadow: 0 2.7px 2.68px rgba(0, 0, 0, 0.25);
    border-radius: 16.76px;
    background-color: var(--color-white);
    justify-content: flex-start;
    padding: var(--padding-6xs-7) var(--padding-7xs) var(--padding-5xs-3);
    box-sizing: border-box;
    gap: var(--gap-base-1);
}

.image-icon2,
.samsung-galaxy-s21 {
    align-self: stretch;
    position: relative;
}

.image-icon2 {
    flex: 1;
    border-radius: 16.76px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}

.samsung-galaxy-s21 {
    line-height: 150%;
}

.boasts-a-68-inch {
    font-weight: 500;
}

.boasts-a-68-inch,
.read-more2 {
    white-space: pre-wrap;
}

.boasts-a-68-inch-dynamic-amol {
    margin: 0;
}

.blank-line5 {
    white-space: pre-wrap;
}

.blank-line4 {
    margin: 0;
    color: var(--color-gray-200);
}

.more-samsung-product1 {
    white-space: pre-wrap;
}

.more-samsung-product {
    margin: 0;
    color: var(--color-midnightblue);
}

.boasts-a-68-inch-container {
    align-self: stretch;
    height: 80px;
    position: relative;
    line-height: 150%;
    text-align: left;
    display: flex;
    align-items: center;
    color: var(--color-gray-100);
}

.card2,
.copy2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.copy2 {
    align-self: stretch;
    justify-content: center;
    gap: var(--gap-10xs-7);
}

.card2 {
    height: 276.3px;
    width: 270px;
    box-shadow: 0 2.7px 2.68px rgba(0, 0, 0, 0.25);
    border-radius: 16.76px;
    background-color: var(--color-white);
    justify-content: flex-start;
    padding: var(--padding-6xs-7) var(--padding-7xs) var(--padding-5xs-3);
    box-sizing: border-box;
    gap: var(--gap-base-1);
}

.image-icon3,
.samsung-galaxy-s211 {
    align-self: stretch;
    position: relative;
}

.image-icon3 {
    flex: 1;
    border-radius: 16.76px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}

.samsung-galaxy-s211 {
    line-height: 150%;
}

.boasts-a-68-inch1 {
    font-weight: 500;
}

.boasts-a-68-inch1,
.read-more3 {
    white-space: pre-wrap;
}

.boasts-a-68-inch-dynamic-amol1 {
    margin: 0;
}

.blank-line7 {
    white-space: pre-wrap;
}

.blank-line6 {
    margin: 0;
    color: var(--color-gray-200);
}

.more-samsung-product3 {
    white-space: pre-wrap;
}

.more-samsung-product2 {
    margin: 0;
    color: var(--color-midnightblue);
}

.boasts-a-68-inch-container1 {
    align-self: stretch;
    height: 80px;
    position: relative;
    line-height: 150%;
    text-align: left;
    display: flex;
    align-items: center;
    color: var(--color-gray-100);
}

.card3,
.copy3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.copy3 {
    align-self: stretch;
    justify-content: center;
    gap: var(--gap-10xs-7);
}

.card3 {
    height: 276.3px;
    width: 270px;
    box-shadow: 0 2.7px 2.68px rgba(0, 0, 0, 0.25);
    border-radius: 16.76px;
    background-color: var(--color-white);
    justify-content: flex-start;
    padding: var(--padding-6xs-7) var(--padding-7xs) var(--padding-5xs-3);
    box-sizing: border-box;
    gap: var(--gap-base-1);
}

.huawei-p40-pro,
.image-icon4 {
    align-self: stretch;
    position: relative;
}

.image-icon4 {
    flex: 1;
    border-radius: 16.76px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}

.huawei-p40-pro {
    line-height: 150%;
}

.includes-a-658-inch {
    font-weight: 500;
    white-space: pre-wrap;
}

.read-more4 {
    white-space: pre-wrap;
}

.includes-a-658-inch-oled-disp {
    margin: 0;
}

.blank-line9 {
    white-space: pre-wrap;
}

.blank-line8 {
    margin: 0;
    color: var(--color-gray-200);
}

.more-huawei-product1 {
    white-space: pre-wrap;
}

.more-huawei-product {
    margin: 0;
    color: var(--color-midnightblue);
}

.includes-a-658-inch-container {
    align-self: stretch;
    height: 80px;
    position: relative;
    line-height: 150%;
    text-align: left;
    display: flex;
    align-items: center;
    color: var(--color-gray-100);
}

.card4,
.copy4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.copy4 {
    align-self: stretch;
    justify-content: center;
    gap: var(--gap-10xs-7);
}

.card4 {
    height: 276.3px;
    width: 270px;
    box-shadow: 0 2.7px 2.68px rgba(0, 0, 0, 0.25);
    border-radius: 16.76px;
    background-color: var(--color-white);
    justify-content: flex-start;
    padding: var(--padding-6xs-7) var(--padding-7xs) var(--padding-5xs-3);
    box-sizing: border-box;
    gap: var(--gap-base-1);
}

.huawei-p40-pro1,
.image-icon5 {
    align-self: stretch;
    position: relative;
}

.image-icon5 {
    flex: 1;
    border-radius: 16.76px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}

.huawei-p40-pro1 {
    line-height: 150%;
}

.includes-a-658-inch1 {
    font-weight: 500;
    white-space: pre-wrap;
}

.read-more5 {
    white-space: pre-wrap;
}

.includes-a-658-inch-oled-disp1 {
    margin: 0;
}

.blank-line11 {
    white-space: pre-wrap;
}

.blank-line10 {
    margin: 0;
    color: var(--color-gray-200);
}

.more-huawei-product3 {
    white-space: pre-wrap;
}

.more-huawei-product2 {
    margin: 0;
    color: var(--color-midnightblue);
}

.includes-a-658-inch-container1 {
    align-self: stretch;
    height: 80px;
    position: relative;
    line-height: 150%;
    text-align: left;
    display: flex;
    align-items: center;
    color: var(--color-gray-100);
}

.card5,
.copy5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.copy5 {
    align-self: stretch;
    justify-content: center;
    gap: var(--gap-10xs-7);
}

.card5 {
    height: 276.3px;
    width: 270px;
    box-shadow: 0 2.7px 2.68px rgba(0, 0, 0, 0.25);
    border-radius: 16.76px;
    background-color: var(--color-white);
    justify-content: flex-start;
    padding: var(--padding-6xs-7) var(--padding-7xs) var(--padding-5xs-3);
    box-sizing: border-box;
    gap: var(--gap-base-1);
}

.cardforphones {
    align-self: stretch;
    border-radius: 5.36px;
    background-color: rgba(247, 234, 188, 0.67);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    min-height: 583px;
    gap: 20px;
    text-align: center;
    font-size: var(--font-size-sm-4);
    color: var(--color-black);
    font-family: var(--font-inter);
}

.mobilephones {
    width: 100%;
    position: relative;
    background-color: rgba(244, 212, 98, 0.62);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 21.8px 54px;
    box-sizing: border-box;
    gap: 27.5px;
    line-height: normal;
    letter-spacing: normal;
}

@media screen and (max-width: 485px) {
    .mobilephones {
        padding-left: var(--padding-8xl);
        padding-right: var(--padding-8xl);
        box-sizing: border-box;
    }
}

@media screen and (max-width: 450px) {
    .mobile-phones-and {
        font-size: 18px;
        line-height: 27px;
    }
}